<p>product-form works!</p>


<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name" >

  <label for="price">Price: </label>
  <input id="price" type="number" formControlName="price">


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>


<button (click)="updateProduct()">generate product example</button>


<p>Form Status: {{ productForm.status }}</p>
