<div *ngIf="product$|async as product">
  <p> {{product.productId}} </p>
  <p>{{product.name}}</p>
  <p>{{product.price}}</p>


  <a [routerLink]="['/products/update', product.productId]" > lien update product </a>
</div>



