<p>liste des produits</p>


<div *ngFor="let product of products$ | async" >
  <a [routerLink]="['/products', product.productId]">
    {{ product.productId }} {{ product.name }}
  </a>
  <P> {{ product.price }}</P>
  <button type="button" class="btn btn-info" (click)="deleteProduct(product.productId)">
    delete
  </button>
</div>

<div class="NewProduct" >

  <button routerLink="/form" >
    New Product
  </button>

</div>
