<p>Liste de produits</p>

<div *ngFor="let product of product$ | async" >
  <div >
    {{product.productId}} {{ product.name }} {{product.price}}

    <button (click)="delete(product.productId)">
      delete
    </button>

  </div>
</div>
