<p>product-update works!</p>


<form [formGroup]="productUpdate" (ngSubmit)="updateProduct()">

  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="price">Price: </label>
  <input id="price" type="number" formControlName="price">


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!productUpdate.valid">Submit</button>
</form>


<div *ngIf="product$|async as product">

  <p>{{product.name}}</p>
  <p>{{product.price}}</p>

</div>
